.Section-Three-Title {
    border-top: 1px solid #A5410F;
    width: 30%;
}

.Recent-Text {
    font-size: 36px;
    font-weight: 700;
    color: #A5410F
}

h4 {
    font-size: 85px;
    font-weight: 700;
    color: #A5410F;
    margin-top: 0;    
}