.Section-Three-Background {  
    background-color: rgba(165, 65, 15, 0.18);
}

.Section-Three {  
    width: 1000px;
    margin: 0 auto;
    padding-top: 120px;
}

.Section-Three-Carousel {
    padding-bottom: 50px;
}