.Section-Three-Background {  
    background-color: #ddc3ce;
}

.Section-Three {  
    width: 1000px;
    margin: 0 auto;
    padding-top: 120px;
}

.Section-Three-Carousel {
    padding-bottom: 50px;
}