.Section-Choose-Us {
    background-color: #D5963D;
    position: relative;
    height: 240px;
}

.Section-Choose-Us-Image {  
    position: absolute;
    top: -140px;
    left: 170px;
    width: 550px;
}

.Section-Choose-Us-Text {
    width: 300px;    
    float: right;
    background-color: #A5410F;
    padding: 60px 40px;
    color: white;
    position: absolute;
    top: -133px;
    left: 800px;
}

.Section-Choose-Us h5 {
    font-size: 38px;
    text-align: center;
    margin: 0;    
}

.Section-Choose-Us p {
    font-size: 20px;
    font-weight: 300;
}