.RectangleSectionContainer {
    width: 1000px;
    margin: 0 auto;
    position: relative;    
}

.RectangleSection {
    width: 1000px;
    background-color: #D5963D;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;    
    padding: 50px;
    font-size: 22px;
    color: white;
    position: absolute;
    top: -120px;
}

