ul {
    display: flex;
    justify-content: space-between;
    text-align: center;    
}

li {
    list-style: none;      
    font-size: 18px;
    color: #848484;
    margin-left: 40px;
    text-shadow: 0 3px 4px #848484;
}

li:first-child {
    color: #A5410F;
    font-weight: bold;
}

a:link, :visited {
    text-decoration: none;
    color: inherit
}